@font-face {
  font-family: 'Verdanar';
  src: url('fonts/verdana.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Verdanab';
  src: url('fonts/verdanab.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Verdanai';
  src: url('fonts/verdanai.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Verdanaz';
  src: url('fonts/verdanaz.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'zheltuhaRoman';
  src: url('fonts/zheltuha Roman regular 2-VF.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'zheltuhaRomanM';
  src: url('fonts/zheltuha Roman regular 2-VF.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'zheltuhasansblackM';
  src: url('fonts/zheltuhasansblack2-medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'zheltuhasansblackR';
  src: url('fonts/zheltuhasansblack2-regular.ttf');
  font-weight: 400;
  font-style: normal;
}
