.deepfake {
  h1:nth-child(4) {
    text-align: right;
  }
  p {
    z-index: 2;
  }
  h1 {
    z-index: 2;
  }
  // АТОМЫ

  .A_statia_img_big {
    height: 90vw;
    border: 0.1vw solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: space-between;
  }

  .A_statia_img_little {
    width: 110vw;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
  }

  .A_statia_date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5vw 2vw;
    background-color: #d4d3c0;
    border: 0.1vw solid black;
    margin-left: 60vw;

    h6 {
      background-color: none;
      padding: 0vw;
      border: 0vw solid black;
    }
  }

  // МОЛЕКУЛЫ

  .M_statia_back_group {
    display: flex;
    flex-direction: row;

    margin-right: 40vw;
  }

  // ОРГАНИЗМЫ

  .O_statia_preview {
    display: flex;
    flex-direction: column;
    z-index: 2;

    .A_statia_name {
      padding: 5vw 5vw 5vw 5vw;
    }
  }

  .O_statia_img_with_text {
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin: 2vw 0vw 5vw 0;
  }

  // СУПЕР ОРГАНИЗМЫ

  .S_screen {
    position: relative;
    height: 100%;
    text-align: left;
    align-items: normal;
    background-color: #ffffff;
  }

  .S_screen:nth-child(3) {
    text-align: left;
    align-items: normal;
    background-color: #fcf549;
    padding: 4vw 4vw 0vw 4vw;
    gap: 2vw;
  }
  .S_screen:nth-child(4) {
    height: auto;

    h1:nth-child(6) {
      text-align: right;
    }
  }
  .S_screen:nth-child(5) {
    position: relative;
    text-align: left;
    align-items: normal;
    background-color: #fcf549;
    padding: 4vw 4vw 0vw 4vw;
    gap: 4vw;

    p {
      position: absolute;
      top: 14vw;
      left: 56vw;
      max-width: 31vw;
    }
  }

  .S_screen:nth-child(6) {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  // ДОП.КЛАССЫ

  .papa {
    background-image: url(images/sam-papa.svg);
  }
  .proger {
    background-image: url(images/proger.svg);
  }
  .tetya {
    background-image: url(images/tetya.png);
  }
  .guzeeva1 {
    background-image: url(images/A_img_guzeeva_1.svg);
  }
  .guzeeva2 {
    background-image: url(images/A_img_guzeeva_2.svg);
  }
  .guzeeva3 {
    background-image: url(images/A_img_guzeeva_3.svg);
  }
  .guzeeva4 {
    background-image: url(images/A_img_guzeeva_4.svg);
  }
  .galkini1 {
    background-image: url(images/A_img_galkini_1.svg);
  }
  .galkini2 {
    background-image: url(images/A_img_galkini_2.svg);
  }
  .galkini3 {
    background-image: url(images/A_img_galkini_3.svg);
  }
  .galkini4 {
    background-image: url(images/A_img_galkini_4.svg);
  }
  .pugacheva1 {
    background-image: url(images/A_img_pugacheva_1.svg);
  }
  .pugacheva2 {
    background-image: url(images/A_img_pugacheva_2.svg);
  }
  .pugacheva3 {
    background-image: url(images/A_img_pugacheva_3.svg);
  }
  .pugacheva4 {
    background-image: url(images/A_img_pugacheva_4.svg);
  }
  .samka1 {
    background-image: url(images/A_img_samka_1.svg);
  }
  .samka2 {
    background-image: url(images/A_img_samka_2.svg);
  }
  .samka3 {
    background-image: url(images/A_img_samka_3.svg);
  }
  .pivo1 {
    background-image: url(images/A_img_pivo_1.svg);
  }
  .pivo2 {
    background-image: url(images/A_img_pivo_2.svg);
  }
  .pivo3 {
    background-image: url(images/A_img_pivo_3.svg);
  }
  .pivo4 {
    background-image: url(images/A_img_pivo_4.svg);
  }
  .nasekomoe1 {
    background-image: url(images/A_img_nasekomoe_1.svg);
  }
  .nasekomoe2 {
    background-image: url(images/A_img_nasekomoe_2.svg);
  }
  .nasekomoe3 {
    background-image: url(images/A_img_nasekomoe_3.svg);
  }
  .nasekomoe4 {
    background-image: url(images/A_img_nasekomoe_4.svg);
  }
  .kirkorov1 {
    background-image: url(images/A_img_kirkorov_1.svg);
  }
  .kirkorov2 {
    background-image: url(images/A_img_kirkorov_2.svg);
  }
  .kirkorov3 {
    background-image: url(images/A_img_kirkorov_3.svg);
  }
  .kirkorov4 {
    background-image: url(images/A_img_kirkorov_4.svg);
  }
  .scarlet1 {
    background-image: url(images/A_img_scarlet_1.svg);
  }
  .scarlet2 {
    background-image: url(images/A_img_scarlet_2.svg);
  }
  .scarlet3 {
    background-image: url(images/A_img_scarlet_3.svg);
  }
  .scarlet4 {
    background-image: url(images/A_img_scarlet_4.svg);
  }

  @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    p {
      max-width: 55vw;
    }
    // АТОМЫ

    .A_statia_img_big {
      border: 0.2vw solid black;
    }

    .A_statia_img_little {
      width: 85vw;
      border: 0.2vw solid black;
    }

    .A_statia_date {
      padding: 0.5vw 2vw;
      border: 0.2vw solid black;
      margin-left: 60vw;
    }

    // МОЛЕКУЛЫ

    .M_statia_back_group {
      margin-right: 40vw;
    }

    // ОРГАНИЗМЫ

    .O_statia_preview {
      margin-top: 2vw;
    }

    .O_statia_img_with_text {
      gap: 4vw;
      margin: 2vw 0vw 5vw 0;
    }

    // СУПЕР ОРГАНИЗМЫ

    .S_screen {
      height: 50%;
    }

    .S_screen:nth-child(3) {
      padding: 6vw 6vw 0vw 6vw;
      gap: 2vw;
      height: 50%;
    }

    .S_screen:nth-child(4) {
      padding: 6vw 6vw 6vw 6vw;
    }

    .S_screen:nth-child(5) {
      padding: 6vw 6vw 0vw 6vw;
      gap: 4vw;
      height: 50%;

      p {
        top: 15vw;
        left: 58vw;
        max-width: 35vw;
      }
    }

    .S_screen:nth-child(6) {
      gap: 2vw;
      height: 50%;
    }
  }

  @media all and (min-device-width: 428px) and (max-device-width: 1023px) {
    h1:nth-child(4) {
      text-align: left;
      margin-top: 6vw;
    }
    // АТОМЫ

    .A_statia_img_big {
      border: 0.5vw solid black;
      margin: 0 -8vw;
      height: 100%;
    }

    .A_statia_img_little {
      height: 55vw;
      width: 100%;
      border: 0.5vw solid black;
    }

    .A_statia_date {
      padding: 2.5vw 4vw;
      border: 0.5vw solid black;
      margin-left: 10vw;
    }

    // МОЛЕКУЛЫ

    .M_statia_back_group {
      margin-right: 40vw;
    }

    // ОРГАНИЗМЫ

    .O_statia_preview {
      margin-top: 2vw;
      margin: 0 -8vw;

      .A_statia_name {
        padding: 15vw 5vw 15vw 5vw;
      }
    }

    .O_statia_img_with_text {
      flex-direction: column;
      gap: 5vw;
      margin: 2vw 0vw 5vw 0;
    }

    // СУПЕР ОРГАНИЗМЫ

    .S_screen {
      height: 100%;
      gap: 4vw;
    }

    .S_screen:nth-child(3) {
      height: 100%;
      padding: 12vw 8vw 0vw 8vw;
      gap: 7vw;
    }

    .S_screen:nth-child(4) {
      padding: 12vw 8vw 8vw 8vw;
      gap: 4vw;

      h1:nth-child(6) {
        text-align: left;
      }
    }

    .S_screen:nth-child(5) {
      height: 100%;
      padding: 12vw 8vw 0vw 8vw;
      gap: 7vw;
      p {
        position: relative;
        top: 0vw;
        left: 0vw;
        max-width: none;
      }
    }

    .S_screen:nth-child(6) {
      height: 100%;
      gap: 7vw;
    }
  }
}
