.about {
  .S_screen {
    position: relative;
    background-color: #fcf549;
    height: 75vw;
    text-align: left;
    gap: 2vw;
    overflow: visible;
  }
  .A_img_hey {
    position: absolute;
    height: 85vw;
    top: -10vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/A_img_hey.svg);
  }

  .A_text_square {
    padding: 2vw;
    background-color: white;
    border: 0.1vw solid black;
    position: absolute;
    top: 46vw;
  }
  .p2 {
    max-width: 31vw;
    text-align: center;
  }

  h1 {
    z-index: 2;
    max-width: 46vw;
  }

  p {
    z-index: 2;
    max-width: 34vw;
  }

  .S_screen:nth-child(3) {
    align-items: baseline;
    height: 77vw;
  }
  .S_screen:nth-child(4) {
    align-items: baseline;
    height: 70vw;
  }
  .S_screen:nth-child(5) {
    align-items: baseline;
    height: 70vw;
  }

  .A_img_comp {
    position: absolute;
    z-index: 2;
    height: 62vw;
    top: 12vw;
    left: 50vw;
    width: 49vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/A_img_comp.svg);
  }
  .A_img_telefon {
    position: absolute;
    z-index: 2;
    height: 61vw;
    top: 5vw;
    left: -10vw;
    width: 58vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/A_img_telefon.svg);
  }
  .g_one {
    top: -22vw;
    left: -17vw;
    width: 92vw;
    height: 82vw;
    background-position: 0;
  }
  .g_two {
    top: -3vw;
    left: 25vw;
    width: 74vw;
    height: 82vw;
    background-position: 0;
  }

  .g_three {
    top: -12vw;
    left: -30vw;
    width: 97vw;
    height: 82vw;
    background-position: 0;
  }

  .g_four {
    top: -3vw;
    left: 26vw;
    width: 73vw;
    height: 69vw;
    background-position: 0;
  }
  .g_five {
    top: 0vw;
    left: 12vw;
    width: 62.1vw;
    height: 69vw;
    scale: 1.8 1;
    background-position: 0;
  }
  .M_text_with_h1 {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2vw;
    top: 8vw;
    left: 52vw;
    width: 30vw;
  }

  .M_img_contact {
    z-index: 2;
    display: flex;
    gap: 1.5vw;
    overflow-x: scroll;
  }

  .M_img_contact::-webkit-scrollbar {
    display: none;
  }
  .A_img_contact {
    height: 33vw;
    width: 29.4vw;
    border: 0.1vw solid black;
    box-shadow: 5px 0.5vw black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .I_one {
    background-image: url(images/A_img_contact_one.svg);
  }
  .I_two {
    background-image: url(images/A_img_contact_two.svg);
  }
  .I_three {
    background-image: url(images/A_img_contact_three.svg);
  }

  @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .S_screen {
      gap: 3vw;
      height: 85vw;
    }
    .A_img_hey {
      top: 0vw;
    }

    .A_text_square {
      z-index: 2;
      border: 0.2vw solid black;
      top: 51vw;
    }
    .p2 {
      max-width: 36vw;
    }

    .S_screen:nth-child(3) {
      height: 81vw;
    }
    .S_screen:nth-child(4) {
      height: 80vw;
    }
    .S_screen:nth-child(5) {
      padding: 6vw;
      height: 58vw;
    }

    .A_img_telefon {
      height: 67vw;
      left: -10vw;
      width: 64vw;
    }
    .g_one {
      top: -4vw;
      left: -18vw;
      width: 83vw;
      height: 73vw;
    }
    .g_two {
      top: 0vw;
      left: 25vw;
      width: 75vw;
      height: 86vw;
    }

    .g_three {
      top: -2vw;
      left: -30vw;
      width: 97vw;
      height: 82vw;
    }

    .g_four {
      top: 5vw;
      left: 32vw;
      width: 68vw;
      height: 72vw;
    }
    .g_five {
      top: -3vw;
      left: 8vw;
      width: 65.1vw;
    }
    .M_text_with_h1 {
      gap: 3vw;
      top: 12vw;
      width: 34vw;
    }

    .M_img_contact {
      gap: 2vw;
    }
    .A_img_contact {
      height: 32vw;
      width: 28vw;
      border: 0.1vw solid black;
      box-shadow: 5px 0.5vw black;
    }
  }

  @media all and (min-device-width: 428px) and (max-device-width: 1023px) {
    .S_screen {
      gap: 7vw;
      height: 228vw;
    }
    .A_img_hey {
      top: 0vw;
      height: 230vw;
      width: 100%;
      background-image: url(images/A_img_hey_mobile.svg);
    }

    .A_text_square {
      z-index: 2;
      border: 0.5vw solid black;
      top: 135vw;
    }
    h1 {
      max-width: 100%;
      font-size: 21.7vw;
    }

    p {
      max-width: 100%;
    }
    .p2 {
      max-width: 80%;
    }

    .S_screen:nth-child(3) {
      height: 290vw;
    }
    .S_screen:nth-child(4) {
      height: 275vw;
    }
    .S_screen:nth-child(5) {
      height: auto;

      h1 {
        max-width: 45vw;
      }
    }

    .A_img_comp {
      height: 148vw;
      left: -4vw;
      width: 104vw;
      top: 122vw;
    }
    .A_img_telefon {
      height: 149vw;
      left: -27vw;
      top: 127vw;
      width: 127vw;
    }
    .g_one {
      display: none;
    }
    .g_two {
      left: -119vw;
      width: 219vw;
      height: 303vw;
    }

    .g_three {
      left: -68vw;
      width: 168vw;
      height: 185vw;
    }

    .g_four {
      display: none;
    }
    .g_five {
      top: 31vw;
      left: -54vw;
      width: 110vw;
      height: 170vw;
    }
    .M_text_with_h1 {
      gap: 7vw;
      top: 0;
      width: 100%;
      left: 0;
    }

    .M_img_contact {
      gap: 6vw;
      flex-direction: column;
      width: 100%;
    }
    .A_img_contact {
      height: 94vw;
      width: 84vw;
      border: 0.1vw solid black;
      box-shadow: 5px 0.5vw black;
    }
  }
}
