.investigations {
  .screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fcf549;
    overflow: hidden;
  }
  .columns {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 3.65vw 1.82vw 0 1.82vw;
    justify-content: center;
  }

  .column {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: 0.2vw solid black;
    overflow: scroll;
  }

  .column::-webkit-scrollbar {
    display: none;
  }
  .new {
    position: relative;
    outline: 0.2vw solid black;
    background-color: white;
    padding: 1.3vw 1.04vw 1.56vw 1.04vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.52vw;
    text-align: center;
  }
  .yellow {
    background-color: #fbf448;
    padding: 6.25vw 1.04vw 6.25vw 1.04vw;
  }
  .igolki {
    position: absolute;
    top: 0;
    left: 0;
    width: 8.33vw;
    height: 6.77vw;
    background: url(images/igolki.svg);
    background-size: 100%;
  }
  .igolki2 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    width: 8.33vw;
    height: 6.77vw;
    background: url(images/igolki.svg);
    background-size: 100%;
  }
  .papa {
    position: relative;
    width: 100%;
    height: 27.82vw;
    outline: 0.2vw solid black;
    background: url(images/papa.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .galkini {
    position: relative;
    width: 100%;
    height: 17.75vw;
    outline: 0.2vw solid black;
    background: url(images/galkini.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .galkin {
    position: relative;
    width: 100%;
    height: 17.75vw;
    outline: 0.2vw solid black;
    background: url(images/galkin.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .samka {
    position: relative;
    width: 100%;
    height: 31.48vw;
    outline: 0.2vw solid black;
    background: url(images/samka.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .guzeeva {
    position: relative;
    width: 100%;
    height: 21.51vw;
    outline: 0.2vw solid black;
    background: url(images/guzeeva.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .prezi {
    position: relative;
    width: 100%;
    height: 17.75vw;
    outline: 0.2vw solid black;
    background: url(images/prezi.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }
}
