.library {
  .screen {
    position: relative;
    width: 100%;
    background-color: #fcf549;
    padding: 3.65vw 1.82vw 0 1.82vw;
    overflow: hidden;
  }

  .filter {
    position: relative;
    outline: 0.15vw solid black;
    background-color: white;
    padding: 1.3vw 3.13vw;
    margin: 1.82vw 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.78vw;
  }

  .tegi {
    position: relative;
    outline: 0.15vw solid black;
    background-color: #fcf549;
    padding: 0.78vw 6.25vw;
    text-align: center;
  }

  .data {
    position: relative;
    outline: 0.15vw solid black;
    background-color: white;
    padding: 0.78vw 1.04vw;
    text-align: center;
  }
  .hypewindow {
    display: flex;
    flex-direction: row;
  }

  .hype {
    position: relative;
    outline: 0.15vw solid black;
    background-color: white;
    padding: 0.78vw 1.04vw;
    text-align: center;
  }

  .chislohypa {
    position: relative;
    outline: 0.15vw solid black;
    background-color: black;
    padding: 0.78vw 1.04vw;
    text-align: center;
    color: white;
  }

  .primenit {
    position: relative;
    outline: 0.15vw solid black;
    background-color: black;
    padding: 0.78vw 1.04vw;
    text-align: center;
    color: white;
  }

  .ochistit {
    position: relative;
    outline: 0.15vw solid black;
    background-color: white;
    padding: 0.78vw 1.04vw;
    text-align: center;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.78vw;
  }

  .card {
    position: relative;
    outline: 0.15vw solid black;
    background-color: white;
    padding: 1.3vw 1.04vw 1.3vw 1.04vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.52vw;
    width: calc(100% / 3);
    text-align: center;
  }

  .content2 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.78vw 0px 2.6vw 0px;
    gap: 0.78vw;
  }

  .card2 {
    position: relative;
    outline: 0.15vw solid black;
    background-color: white;
    padding: 1.3vw 1.04vw 1.3vw 1.04vw;
    display: flex;
    flex-direction: row;
    gap: 0.78vw;
    width: 50%;
    height: 20.23vw;
    text-align: left;
  }

  .text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.52vw;
    justify-content: left;
    width: 55%;
  }

  .vanga {
    position: relative;
    width: 100%;
    height: 16.24vw;
    outline: 0.15vw solid black;
    background: url(images/vanga.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .bashnya {
    position: relative;
    width: 100%;
    height: 16.24vw;
    outline: 0.15vw solid black;
    background: url(images/bashnya.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .buter {
    position: relative;
    width: 100%;
    height: 16.24vw;
    outline: 0.15vw solid black;
    background: url(images/buter.png);
    background-size: 100%;
    margin-bottom: 0.52vw;
  }

  .chicatilo {
    position: relative;
    width: 45%;
    height: 100%;
    outline: 0.15vw solid black;
    background: url(images/chicatilo.png);
    background-size: 100%;
  }

  .pi {
    position: relative;
    width: 45%;
    height: 100%;
    outline: 0.15vw solid black;
    background: url(images/pi.png);
    background-size: 100%;
  }

  .number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.52vw 0.63vw;
    display: inline-block;
    font-size: 1.82vw;
    background-color: white;
    outline: 0.15vw solid black;
    font-family: 'Verdanab';
  }
}
