.library {
  // КУАРКИ

  .Q_archive_hype {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.52vw 0.83vw;
    display: inline-block;
    background-color: white;
    outline: 0.1vw solid black;
  }

  // АТОМЫ

  .A_img {
    height: 16vw;
    margin-bottom: 1vw;
  }

  .A_gradient_yellow {
    top: -18vw;
    left: -3vw;
    height: 52vw;
    width: 106vw;
  }
  // МОЛЕКУЛЫ

  .M_card {
    gap: 0.7vw;

    &.hidden {
      display: none;
    }
  }

  // КОЛЛЕКЦИЯ

  .C_archive_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5vw;
    margin-top: 0.5vw;

    a {
      width: 100%;
      display: flex;
    }
  }

  // ДОП.КЛАССЫ

  h1 {
    z-index: 2;
  }
  .O_commons_teg {
    z-index: 2;
  }
  .for_archive {
    margin-top: 1vw;
    flex-wrap: nowrap;
  }

  .vanga {
    background-image: url(images/A_img_vanga.svg);
  }

  .tower {
    background-image: url(images/A_img_tower.svg);
  }

  .burger {
    background-image: url(images/A_img_burger.svg);
  }

  .number {
    background-image: url(images/A_img_number.svg);
  }
  .cyber {
    background-image: url(images/A_img_cyber.svg);
  }
  .carrot {
    background-image: url(images/A_img_carrot.svg);
  }
  .gravity {
    background-image: url(images/A_img_gravity.svg);
  }
  .travel {
    background-image: url(images/A_img_travel.svg);
  }
  @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    // КУАРКИ

    .Q_archive_hype {
      padding: 0.8vw 1.4vw;
      outline: 0.2vw solid black;
    }

    // АТОМЫ

    .A_img {
      height: 20vw;
      margin-bottom: 0.72vw;
    }
    .A_gradient_yellow {
      top: -32vw;
      left: -20vw;
      height: 81vw;
      width: 138vw;
    }
    // МОЛЕКУЛЫ

    .M_card {
      gap: 1.5vw;
    }

    // ОРГАНИЗМЫ
    .O_commons_teg {
      overflow-x: scroll;
      width: 88vw;
    }

    .O_commons_teg::-webkit-scrollbar {
      display: none;
    }
    // КОЛЛЕКЦИЯ

    .C_archive_cards {
      gap: 2vw;
      margin-top: 1.5vw;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media all and (min-device-width: 428px) and (max-device-width: 1023px) {
    // КУАРКИ

    .Q_archive_hype {
      padding: 1.8vw 3.4vw;
      outline: 0.5vw solid black;
    }

    // АТОМЫ

    .A_img {
      height: 61vw;
      margin-bottom: 2.5vw;
    }
    .A_gradient_yellow {
      top: -59vw;
      left: -84vw;
      height: 175vw;
      width: 266vw;
      scale: 0.5 1;
    }
    // МОЛЕКУЛЫ

    .M_card {
      gap: 3vw;
    }

    // ОРГАНИЗМЫ

    .O_commons_teg {
      overflow-x: scroll;
      width: 84vw;
    }
    .O_commons_teg::-webkit-scrollbar {
      display: none;
    }
    // КОЛЛЕКЦИЯ

    .C_archive_cards {
      gap: 7vw;
      margin-top: 1.5vw;
      grid-template-columns: 1fr;
    }

    // ДОП.КЛАССЫ

    .for_archive {
      margin-top: 2vw;
      flex-wrap: nowrap;
    }
  }
}
