html::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 1.04vw;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1.04vw solid black;
}
.menu {
  position: fixed;
  width: 100%;
  height: 3.65vw;
  outline: 0.15vw solid black;
  background-color: #fbf448;
  display: flex;
  box-shadow: 0px 0.16vw 0.31vw rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: space-between;
  padding: 1.04vw 1.82vw;
}
.trilinii {
  display: none;
}
.linii {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 1.61vw;
}
.liniya {
  width: 2vw;
  background-color: black;
  height: 0.15vw;
}

.arhiv {
  position: relative;
  width: 5.1vw;
  height: 1.2vw;
  background: url(images/arhiv.svg);
  background-size: 100%;
  margin: 0.2vw 0 0 0;
}
.statearhiv {
  position: relative;
  width: 5.1vw;
  height: 1.2vw;
  background: url(images/arhiv2.svg);
  background-size: 100%;
  margin: 0.2vw 0 0 0;
}
.rasledovaniya {
  position: relative;
  width: 13.44vw;
  height: 1.61vw;
  background: url(images/rasledovaniya2.svg);
  background-size: 100%;
}
.staterasledovaniya {
  position: relative;
  width: 13.44vw;
  height: 1.61vw;
  background: url(images/rasledovaniya.svg);
  background-size: 100%;
}
.veruneveru {
  position: relative;
  width: 11.93vw;
  height: 1.5vw;
  background: url(images/veruneveru.svg);
  background-size: 100%;
}
.stateveruneveru {
  position: relative;
  width: 11.93vw;
  height: 1.5vw;
  background: url(images/veruneveru2.svg);
  background-size: 100%;
}
.tests {
  position: relative;
  width: 5.37vw;
  height: 1.37vw;
  background: url(images/tests.svg);
  background-size: 100%;
  margin: 0.1vw 0 0 0;
}
.statetests {
  position: relative;
  width: 5.37vw;
  height: 1.37vw;
  background: url(images/tests2.svg);
  background-size: 100%;
  margin: 0.1vw 0 0 0;
}
.onas {
  position: relative;
  width: 4.95vw;
  height: 1.35vw;
  background: url(images/onas.svg);
  background-size: 100%;
  margin: 0.1vw 0 0 0;
}
.stateonas {
  position: relative;
  width: 4.95vw;
  height: 1.35vw;
  background: url(images/onas2.svg);
  background-size: 100%;
  margin: 0.1vw 0 0 0;
}
.logo {
  position: absolute;
  margin: -0.68vw auto;
  width: 6.46vw;
  height: 3.13vw;
  background: url(images/logo.png);
  background-size: 100%;
}
.menu p {
  font-family: 'Verdanab';
  font-size: 1.35vw;
  line-height: 96%;
  color: white;
  text-shadow: 0.1vw 0 0 black, 0 0.1vw 0 black, -0.1vw 0 0 black,
    0 -0.1vw 0 black;
}

p {
  font-family: 'Verdanar';
  font-size: 1.04vw;
  line-height: 96%;
}

h3 {
  font-family: 'zheltuhaRomanM';
  font-size: 3.65vw;
  line-height: 95%;
  letter-spacing: -0.31vw;
  hyphens: auto;
}

h5 {
  font-family: 'Verdanab';
  font-size: 1.15vw;
  line-height: 96%;
}

.tag {
  font-family: 'Verdanab';
  display: inline-block;
  font-size: 0.89vw;
  line-height: 96%;
  background-color: white;
  outline: 0.15vw solid black;
  padding: 0.42vw 0.52vw;
  text-align: center;
}
.tagfamily {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.52vw;
  flex-wrap: wrap;
  margin-bottom: 0.52vw;
}

.footer {
  position: relative;
  width: 100%;
  padding: 1.15vw 1.82vw;
  background-color: white;
  overflow: hidden;
  display: flex;
  outline: 0.15vw solid black;
  box-shadow: 0px -4.69vw 2.6vw rgba(255, 255, 255, 0.5);
  justify-content: space-between;
}
.righttext {
  display: flex;
  gap: 1.82vw;
}
.lefttext {
  display: flex;
  gap: 1.82vw;
}
.logohse {
  position: relative;
  width: 10.63vw;
  height: 4.69vw;
  background: url(images/logohse.png);
  background-size: 100%;
}
.imena {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.26vw 0px;
}
.icons {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1.56vw;
  align-items: center;
  right: 0;
}
.vk {
  position: relative;
  width: 4.48vw;
  height: 3.02vw;
  background: url(images/vk.svg);
  background-size: 100%;
}
.tg {
  position: relative;
  width: 3.54vw;
  height: 3.39vw;
  background: url(images/tg.svg);
  background-size: 100%;
}
.odnokl {
  position: relative;
  width: 2.19vw;
  height: 3.7vw;
  background: url(images/odnokl.svg);
  background-size: 100%;
  margin-left: 1.04vw;
}
