html::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
  color: black;
}
body::-webkit-scrollbar {
  width: 1.04vw;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1.04vw solid black;
}

// КУАРКИ

.Q_stroke {
  width: 100%;
  height: 0.5vw;
  background-color: black;
  display: none;
}

.Q_common_arrow_back {
  padding: 1.5vw;
  border: 0.1vw solid black;
  background-color: #d4d3c0;
  display: flex;
  justify-content: center;
  transition: 0.2s;

  div {
    position: relative;
    background-image: url(images/arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2vw;
    height: 2vw;
    margin: auto;
  }
}
.Q_common_arrow_back:hover {
  background-color: #89887a;
  transition: 0.2s;
}
.Q_hselogo {
  position: relative;
  width: 10.63vw;
  height: 4.69vw;
  background: url(images/logohse.png);
  background-size: 100%;
}

.Q_vk_icon {
  position: relative;
  width: 4.48vw;
  height: 3.02vw;
  background: url(images/vk.svg);
  background-size: 100%;
}
.Q_tg_icon {
  position: relative;
  width: 3.54vw;
  height: 3.39vw;
  background: url(images/tg.svg);
  background-size: 100%;
}
.Q_odnokl_icon {
  position: relative;
  width: 2.19vw;
  height: 3.7vw;
  background: url(images/odnokl.svg);
  background-size: 100%;
  margin-left: 1.04vw;
}

// АТОМЫ
.A_gradient_white {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/A_gradient_white.svg);
}
.A_gradient_yellow {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/A_gradient_yellow.svg);
}
.A_menu {
  display: none;
  width: 8vw;
  flex-direction: column;
  justify-content: center;
  gap: 1.8vw;
  height: 100%;
}

.A_menu_archiv {
  position: relative;
  width: 4.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/archiv.svg);
}
.active_archiv {
  position: relative;
  width: 4.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/archiv2.svg);
}
.A_menu_invest {
  position: relative;
  width: 11.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/invest.svg);
}
.active_invest {
  position: relative;
  width: 11.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/invest2.svg);
}
.A_menu_veruneveru {
  position: relative;
  width: 10.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/veruneveru.svg);
}
.active_veruneveru {
  position: relative;
  width: 10.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/veruneveru2.svg);
}
.A_menu_test {
  position: relative;
  width: 4.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/tests.svg);
}
.active_test {
  position: relative;
  width: 4.6vw;
  height: 1.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/tests2.svg);
}
// .A_menu_onas {
//   position: relative;
//   width: 4.1vw;
//   height: 1.2vw;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-image: url(images/onas.svg);
// }
// .active_onas {
//   position: relative;
//   width: 4.1vw;
//   height: 1.2vw;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-image: url(images/onas2.svg);
// }
.A_menu_logo {
  position: absolute;
  margin: -1.68vw -11vw;
  width: 6.46vw;
  height: 3.13vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/logo.png);
}
.A_menu_search {
  position: relative;
  border: 0.1vw solid black;
  padding: 0.42vw 1.5vw;
  background-color: white;
  align-content: center;
  width: 18.6vw;
  height: 2.5vw;
  border-radius: 10vw;
}
.A_commons_teg {
  display: inline-block;
  background-color: #d4d3c0;
  border: 0.1vw solid black;
  padding: 0.42vw 0.52vw;
  text-align: center;
  transition: 0.2s;
}
.A_commons_teg:hover {
  background-color: #89887a;
  transition: 0.2s;
}
.A_img {
  height: 20vw;
  width: 100%;
  border: 0.1vw solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.A_answer {
  display: none;
  top: 3vw;
  height: 15vw;
  width: 26vw;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.answer_zagolovki {
  top: 0.5vw;
}
.A_soon {
  top: 5vw;
  height: 13vw;
  width: 26.65vw;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/A_soon.svg);
}
.original {
  background-image: url(images/A_original.svg);
}
.fake {
  background-image: url(images/A_deepfake.svg);
}
.true {
  background-image: url(images/A_true.svg);
}
.false {
  background-image: url(images/A_false.svg);
}
.A_deepfake {
  display: none;
  top: 2vw;
  height: 15vw;
  width: 26vw;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.A_statia_name {
  z-index: 1;
  padding: 5vw 2vw 5vw 2vw;
  background-color: #ffffff;
  border: 0.1vw solid black;
  text-align: center;
}

.A_button {
  width: 100%;
  background-color: #d4d3c0;
  padding: 0.5vw 2vw;
  border: 0.1vw solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.A_button:hover {
  background-color: #89887a;
  transition: 0.2s;
}
.active {
  background-color: #000000;
  color: white;
  transition: 0.2s;
}
// МОЛЕКУЛЫ

.M_menu_line_buttons {
  display: flex;
  gap: 1vw;
}

.M_text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.3vw;
}

.M_right_side_of_footer {
  display: flex;
  gap: 1.82vw;
}

.M_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
  padding: 1.3vw;
  text-align: center;
  border: 0.1vw solid black;
  background-color: white;
  position: relative;
  transition: 0.2s;
}
.M_card:hover {
  background-color: #f0efe4;
  transition: 0.2s;
}
.M_commons_teg {
  display: flex;
  width: 100%;
  gap: 0.52vw;
  justify-content: center;
}

.M_imena {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.26vw 0px;
}

.M_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1.56vw;
  align-items: center;
  right: 0;
}

.M_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3vw;
  gap: 1.3vw;
}
.razdeli {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.rassled {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.arhiv {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.M_footer_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.M_footer_two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
// ОРГАНИЗМЫ

.O_footer {
  position: relative;
  width: 100%;
  padding: 1.15vw 4vw;
  background-color: white;
  display: flex;
  outline: 0.1vw solid black;
  justify-content: space-between;
  flex-direction: column;
  gap: 2vw;
}
.O_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5vw;
}
// СУПЕР ОРГАНИЗМЫ

.S_screen {
  width: 100%;
  padding: 7vw 4vw 4vw 4vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.S_nav_bar {
  position: fixed;
  width: 100%;
  height: 3.65vw;
  outline: 0.1vw solid black;
  background-color: white;
  display: flex;
  box-shadow: 0px 0.16vw 0.31vw rgba(0, 0, 0, 0.5);
  z-index: 6;
  justify-content: space-between;
  padding: 1.9vw 4vw;
  align-items: center;
}
.S_open_bar {
  display: none;
}
// ТЕКСТ

p {
  font-family: 'Verdanar';
  font-size: 1.2vw;
  line-height: 120%;
  max-width: 38vw;
}

.p2 {
  font-family: 'Verdanab';
  font-size: 1.5vw;
  line-height: 120%;
  text-transform: uppercase;
}

.p3 {
  font-family: 'Verdanab';
  font-size: 1.1vw;
  line-height: 96%;
}

h1 {
  font-family: 'zheltuhasansblackM';
  font-size: 11.5vw;
  letter-spacing: -1vw;
  hyphens: auto;
  text-transform: uppercase;
  line-height: 65%;
}

h2 {
  font-family: 'zheltuhasansblackM';
  font-size: 5vw;
  letter-spacing: -0.4vw;
  hyphens: auto;
  text-transform: uppercase;
  line-height: 75%;
}
h3 {
  font-family: 'zheltuhaRomanM';
  font-size: 7.4vw;
  line-height: 95%;
  letter-spacing: -0.51vw;
  hyphens: auto;
  text-transform: uppercase;
}

h4 {
  font-family: 'zheltuhaRomanM';
  font-size: 4vw;
  line-height: 95%;
  letter-spacing: -5px;
  text-transform: uppercase;
}

h5 {
  font-family: 'zheltuhaRoman';
  font-size: 2.2vw;
  line-height: 95%;
  letter-spacing: -0.17vw;
  text-transform: uppercase;
}

h6 {
  font-family: 'zheltuhasansblackM';
  font-size: 3.6vw;
  letter-spacing: -0.3vw;
  hyphens: auto;
  text-transform: uppercase;
  line-height: 95%;

  background-color: #d4d3c0;
  padding: 0.5vw 2vw;
  border: 0.1vw solid black;
  display: flex;
  align-items: center;
}
.h7 {
  font-family: 'zheltuhaRomanM';
  font-size: 9vw;
  line-height: 85%;
  letter-spacing: -0.7vw;
  text-transform: uppercase;
}
// ДОП.КЛАССЫ

.for_cards {
  gap: 0.52vw;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1vw;
}
.for_archive {
  justify-content: space-between;
  flex-wrap: wrap;
}

.gradient {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/gradient_one.svg);
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body::-webkit-scrollbar {
    width: 1.04vw;
  }

  body::-webkit-scrollbar-thumb {
    border: 1.04vw solid black;
  }

  // КУАРКИ

  .Q_common_arrow_back {
    padding: 1.5vw;
    border: 0.2vw solid black;

    div {
      width: 3vw;
      height: 3vw;
    }
  }

  .Q_hselogo {
    width: 12.63vw;
    height: 5.6vw;
  }

  .Q_vk_icon {
    width: 5.6vw;
    height: 3.8vw;
  }
  .Q_tg_icon {
    width: 4.54vw;
    height: 4.3vw;
  }
  .Q_odnokl_icon {
    width: 2.8vw;
    height: 4.8vw;
    margin-left: 1.04vw;
  }

  // АТОМЫ

  .A_menu_archiv {
    width: 8vw;
    height: 2.3vw;
  }
  .active_archiv {
    width: 8vw;
    height: 2vw;
  }
  .A_menu_invest {
    width: 20.5vw;
    height: 2vw;
  }
  .active_invest {
    width: 20.5vw;
    height: 2vw;
  }
  .A_menu_veruneveru {
    width: 18.9vw;
    height: 2vw;
  }
  .active_veruneveru {
    width: 18.9vw;
    height: 2vw;
  }
  .A_menu_test {
    width: 8vw;
    height: 2vw;
  }
  .active_test {
    width: 8vw;
    height: 2vw;
  }
  .A_menu_onas {
    width: 7.5vw;
    height: 2vw;
  }
  .active_onas {
    width: 7.5vw;
    height: 2vw;
  }
  .A_menu_logo {
    margin: -2.2vw auto;
    width: 8.46vw;
    height: 4.13vw;
  }

  .A_commons_teg {
    border: 0.2vw solid black;
    padding: 0.52vw 0.62vw;
  }
  .A_img {
    height: 20vw;
    border: 0.2vw solid black;
  }

  .A_statia_name {
    padding: 8vw 2vw 8vw 2vw;
    border: 0.2vw solid black;
  }

  .A_button {
    padding: 0.5vw 1vw;
    border: 0.2vw solid black;
  }

  .A_soon {
    top: 8vw;
    height: 13vw;
    width: 24.35vw;
  }
  // МОЛЕКУЛЫ

  .M_menu_line_buttons {
    gap: 1.5vw;
  }

  .M_text {
    gap: 1.3vw;
  }

  .M_right_side_of_footer {
    gap: 1.5vw;
  }

  .M_card {
    gap: 1.7vw;
    padding: 1.7vw;
    border: 0.2vw solid black;
  }

  .M_commons_teg {
    gap: 0.52vw;
  }

  .M_imena {
    padding: 0.26vw 0px;
  }

  .M_icons {
    gap: 1.5vw;
    right: 0;
  }

  .M_button {
    height: 4vw;
    gap: 1.3vw;
  }

  // ОРГАНИЗМЫ

  .O_footer {
    padding: 2.15vw 6vw;
    outline: 0.2vw solid black;
  }

  // СУПЕР ОРГАНИЗМЫ

  .S_screen {
    padding: 11vw 6vw 6vw 6vw;
    gap: 2vw;
  }

  .S_nav_bar {
    height: 6vw;
    outline: 0.2vw solid black;
    box-shadow: 0px 0.16vw 0.31vw rgba(0, 0, 0, 0.5);
    padding: 1.04vw 6vw;
  }

  // ТЕКСТ

  p {
    font-size: 1.5vw;
    line-height: 115%;
    max-width: 41vw;
  }

  .p2 {
    font-size: 1.8vw;
    line-height: 120%;
    text-transform: uppercase;
  }

  .p3 {
    font-size: 1.5vw;
    line-height: 96%;
  }

  h1 {
    font-size: 11.5vw;
    letter-spacing: -1vw;
    text-transform: uppercase;
    line-height: 65%;
  }

  h2 {
    font-size: 6.9vw;
    letter-spacing: -0.5vw;
    text-transform: uppercase;
    line-height: 75%;
  }
  h3 {
    font-size: 7.9vw;
    line-height: 95%;
    letter-spacing: -0.51vw;
    text-transform: uppercase;
  }

  h4 {
    font-size: 4.7vw;
    line-height: 90%;
    letter-spacing: -4.3px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 3vw;
    line-height: 95%;
    letter-spacing: -0.17vw;
    text-transform: uppercase;
  }

  h6 {
    font-size: 4.2vw;
    letter-spacing: -0.3vw;
    text-transform: uppercase;
    line-height: 95%;
    border: 0.2vw solid black;
    padding: 1vw 2vw;
  }
  .h7 {
    font-size: 7.8vw;
    line-height: 85%;
    letter-spacing: -0.7vw;
    text-transform: uppercase;
  }
  // ДОП.КЛАССЫ

  .for_cards {
    gap: 1vw;
  }
}

@media all and (min-device-width: 428px) and (max-device-width: 1023px) {
  body::-webkit-scrollbar {
    width: 1.04vw;
  }

  body::-webkit-scrollbar-thumb {
    border: 1.04vw solid black;
  }

  // КУАРКИ

  .Q_stroke {
    display: block;
  }

  .Q_common_arrow_back {
    padding: 1.5vw;
    padding: 4vw;
    border: 0.5vw solid black;

    div {
      width: 5vw;
      height: 5vw;
    }
  }

  .Q_hselogo {
    width: 31.63vw;
    height: 14vw;
  }

  .Q_vk_icon {
    width: 11.5vw;
    height: 7.8vw;
  }
  .Q_tg_icon {
    width: 9.66vw;
    height: 9.3vw;
  }
  .Q_odnokl_icon {
    width: 6.3vw;
    height: 10.4vw;
    margin-left: 1.04vw;
  }

  // АТОМЫ

  .A_menu {
    display: flex;
    width: 8vw;
    flex-direction: column;
    justify-content: center;
    gap: 1.8vw;
    height: 100%;
  }
  .A_button:hover {
    background-color: black;
  }
  .A_menu_archiv {
    display: none;
  }
  .active_archiv {
    display: none;
  }
  .A_menu_invest {
    display: none;
  }
  .active_invest {
    display: none;
  }
  .A_menu_veruneveru {
    display: none;
  }
  .active_veruneveru {
    display: none;
  }
  .A_menu_test {
    display: none;
  }
  .active_test {
    display: none;
  }
  .A_menu_onas {
    display: none;
  }
  .active_onas {
    display: none;
  }
  .A_menu_logo {
    position: relative;
    margin: -1.2vw auto;
    width: 17.46vw;
    height: 8.13vw;
  }
  .A_menu_search {
    display: none;
  }
  .A_commons_teg {
    border: 0.5vw solid black;
    padding: 1.52vw 1.62vw;
  }
  .A_img {
    height: 60vw;
    border: 0.5vw solid black;
  }
  .A_answer {
    top: 15vw;
    height: 36vw;
    width: 74vw;
  }
  .A_statia_name {
    padding: 18vw 8vw 18vw 9vw;
    border: 0.5vw solid black;
  }

  .A_button {
    padding: 0.5vw 2vw;
    border: 0.5vw solid black;
  }
  .A_soon {
    top: 11vw;
    height: 42vw;
    width: 74.15vw;
  }
  // МОЛЕКУЛЫ

  .M_menu_line_buttons {
    display: none;
  }
  .A_menu_search {
    display: none;
  }
  .M_text {
    gap: 5vw;
  }

  .M_right_side_of_footer {
    gap: 1.5vw;
  }

  .M_card {
    gap: 4vw;
    padding: 4.7vw;
    border: 0.5vw solid black;
  }

  .M_commons_teg {
    gap: 0.52vw;
  }

  .M_icons {
    gap: 4.5vw;
    right: 0;
  }

  .M_button {
    height: 10vw;
    gap: 3.3vw;
  }
  .rassled {
    gap: 2vw;
  }
  .arhiv {
    gap: 2vw;
  }
  .razdeli {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
  }
  .M_footer_one {
    display: grid;
    gap: 6vw;
  }

  .M_footer_two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  // ОРГАНИЗМЫ

  .O_footer {
    padding: 5.15vw 8vw;
    outline: 0.5vw solid black;
    gap: 8vw;

    p {
      font-size: 3.2vw;
    }
  }

  // СУПЕР ОРГАНИЗМЫ

  .S_screen {
    padding: 30vw 8vw 8vw 8vw;
    gap: 4vw;
  }

  .S_nav_bar {
    height: 17.52vw;
    outline: 0.5vw solid black;
    box-shadow: 0px 0.16vw 0.31vw rgba(0, 0, 0, 0.5);
    padding: 6vw 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8vw;
    overflow: hidden;
  }

  .M_logo_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .S_open_bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vw;

    p {
      font-family: 'Verdanab';
      font-size: 6vw;
      line-height: 98%;
    }
  }
  // ТЕКСТ

  p {
    font-size: 4.2vw;
    line-height: 120%;
    max-width: none;
  }

  .p2 {
    font-size: 5.2vw;
    line-height: 120%;
    text-transform: uppercase;
  }

  .p3 {
    font-size: 3.2vw;
    line-height: 96%;
  }

  h1 {
    font-size: 22.5vw;
    letter-spacing: -2vw;
    text-transform: uppercase;
    line-height: 65%;
  }

  h2 {
    font-size: 13vw;
    letter-spacing: -1vw;
    text-transform: uppercase;
    line-height: 75%;
  }
  h3 {
    font-size: 15.4vw;
    line-height: 95%;
    letter-spacing: -1vw;
    text-transform: uppercase;
  }

  h4 {
    font-size: 14.7vw;
    line-height: 90%;
    letter-spacing: -4.3px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 7.5vw;
    line-height: 95%;
    letter-spacing: -0.6vw;
    text-transform: uppercase;
  }

  h6 {
    font-size: 10.6vw;
    letter-spacing: -0.6vw;
    text-transform: uppercase;
    line-height: 80%;

    padding: 2.5vw 4vw;
  }
  .h7 {
    font-size: 17vw;
    line-height: 85%;
    letter-spacing: -0.9vw;
    text-transform: uppercase;
  }
  // ДОП.КЛАССЫ

  .for_cards {
    gap: 2vw;
  }
}
