.veruneveru {
  // АТОМЫ

  .A_img_veruneveru_decor {
    display: inline-block;
    position: relative;
    height: 18.06vw;
    width: 23.4vw;
    border: 0.1vw solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .A_img {
    width: 26vw;
  }

  .zagolovki_img {
    height: 14vw;
  }
  .A_deepfake {
    width: 26vw;
  }
  // МОЛЕКУЛЫ
  .M_card:hover {
    background-color: white;
  }
  .M_card_veruneveru_decor {
    display: inline-block;
    vertical-align: top;
    height: 28vw;
    margin: 0 0 2vw 0;
    width: 120vw;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .M_card_veruneveru_decor::-webkit-scrollbar {
    display: none;
  }
  .M_veruneveru_choose_category {
    display: flex;
    flex-direction: row;
    margin: 1vw 0;

    h6:hover {
      background-color: #89887a;
      transition: 0.2s;
    }
  }

  // КОЛЛЕКЦИИ

  .C_veruneveru {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1.5vw;
    width: 100%;
    margin: 2vw 0 0 0;
  }
  .C_veruneveru::-webkit-scrollbar {
    display: none;
  }
  // СУПЕР ОРГАНИЗМЫ

  .S_screen {
    background-color: white;
  }

  // ДОП.КЛАССЫ
  .zagolovki {
    display: none;
  }
  .knopka {
    background-color: #fbf448;
  }
  .one_veruneveru {
    background-image: url(images/one_veruneveru.svg);
    transform: rotate(10deg);
    top: 3vw;
    transition: 0.2s;
  }
  .one_veruneveru:hover {
    top: 1vw;
    transition: 0.2s;
  }
  .two_veruneveru {
    background-image: url(images/two_veruneveru.svg);
    transform: rotate(-10deg);
    top: 8vw;
    transition: 0.2s;
  }
  .two_veruneveru:hover {
    top: 6vw;
    transition: 0.2s;
  }
  .three_veruneveru {
    background-image: url(images/three_veruneveru.svg);
    top: 3vw;
    transition: 0.2s;
  }
  .three_veruneveru:hover {
    top: 1vw;
    transition: 0.2s;
  }
  .four_veruneveru {
    background-image: url(images/four_veruneveru.svg);
    transform: rotate(10deg);
    top: 8vw;
    transition: 0.2s;
  }
  .four_veruneveru:hover {
    top: 6vw;
    transition: 0.2s;
  }
  .five_veruneveru {
    background-image: url(images/five_veruneveru.svg);
    transform: rotate(-10deg);
    top: 3vw;
    transition: 0.2s;
  }
  .five_veruneveru:hover {
    top: 1vw;
    transition: 0.2s;
  }

  .veruneveru_one {
    background-image: url(images/A_img_veruneveru_one.svg);
  }
  .veruneveru_two {
    background-image: url(images/A_img_veruneveru_two.svg);
  }
  .veruneveru_three {
    background-image: url(images/A_img_veruneveru_three.svg);
  }
  .veruneveru_four {
    background-image: url(images/A_img_veruneveru_four.svg);
  }
  .veruneveru_five {
    background-image: url(images/A_img_veruneveru_five.svg);
  }
  .zagolovki_one {
    background-image: url(images/A_img_zagolovki_one.svg);
  }
  .zagolovki_two {
    background-image: url(images/A_img_zagolovki_two.svg);
  }
  .zagolovki_three {
    background-image: url(images/A_img_zagolovki_three.svg);
  }
  .zagolovki_four {
    background-image: url(images/A_img_zagolovki_four.svg);
  }
  .zagolovki_five {
    background-image: url(images/A_img_zagolovki_five.svg);
  }
  @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    p {
      max-width: 45vw;
    }
    // АТОМЫ

    .A_img_veruneveru_decor {
      height: 18.06vw;
      width: 23.4vw;
      border: 0.2vw solid black;
    }

    // МОЛЕКУЛЫ

    .M_card_veruneveru_decor {
      margin-top: 3vw;
    }

    .M_veruneveru_choose_category {
      margin: 1vw 0;
    }

    // КОЛЛЕКЦИИ

    .C_veruneveru {
      gap: 2vw;

      margin: 2vw 0;
    }

    // СУПЕР ОРГАНИЗМЫ

    .S_screen {
      gap: 2vw;
    }
  }

  @media all and (min-device-width: 428px) and (max-device-width: 1023px) {
    h1:nth-child(4) {
      margin-top: 8vw;
    }
    // АТОМЫ

    .A_img_veruneveru_decor {
      height: 45vw;
      width: 58vw;
      border: 0.5vw solid black;
    }

    .A_img {
      width: 100%;
    }
    .zagolovki_img {
      height: 42vw;
    }
    .answer_zagolovki {
      top: 7vw;
    }
    // МОЛЕКУЛЫ

    .M_card_veruneveru_decor {
      margin-top: 4vw;
      height: 60vw;
      margin: 2vw 0 2vw 0;
      width: 294vw;
    }

    .M_veruneveru_choose_category {
      margin: 1vw 0;
      justify-content: space-between;
    }

    // КОЛЛЕКЦИИ

    .C_veruneveru {
      gap: 7vw;
      flex-direction: column;
      margin: 2vw 0;
    }

    // СУПЕР ОРГАНИЗМЫ

    .S_screen {
      gap: 6vw;
    }

    // ДОП.КЛАССЫ

    .one_veruneveru {
      top: 7vw;
    }
    .one_veruneveru:hover {
      top: 2vw;
    }
    .two_veruneveru {
      top: 10vw;
    }
    .two_veruneveru:hover {
      top: 5vw;
    }
    .three_veruneveru {
      top: 12vw;
    }
    .three_veruneveru:hover {
      top: 7vw;
    }
    .four_veruneveru {
      top: 10vw;
    }
    .four_veruneveru:hover {
      top: 4vw;
    }
    .five_veruneveru {
      top: 7vw;
    }
    .five_veruneveru:hover {
      top: 2vw;
    }
  }
}
