.vanga {
  // КУАРКИ
  .Q_common_arrow_back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  // АТОМЫ
  .A_statia_date_hide {
    display: none;
  }
  .A_archivepage_img {
    height: 100%;
    width: 100%;
    border: 0.1vw solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: space-between;
  }

  .A_statia_name {
    background-color: black;
    color: white;
  }

  .A_statia_date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5vw 4vw 0.5vw 3vw;
    background-color: #d4d3c0;
    border: 0.1vw solid black;

    h6 {
      background-color: none;
      padding: 0vw;
      border: 0vw solid black;
    }
  }

  // МОЛЕКУЛЫ

  .M_commons_teg {
    position: absolute;
    top: 25.5vw;
  }

  .M_commons_teg_hide {
    display: none;
  }
  .M_archive_page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    height: 100%;
  }

  // ОРГАНИЗМЫ

  .O_archive_page {
    position: relative;
    height: 100%;
  }

  .O_text {
    padding: 0vw 4vw 4vw 3vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
  }

  // СУПЕР ОРГАНИЗМЫ

  .S_screen {
    display: flex;
    flex-direction: row;
    gap: 0vw;
    padding: 3.8vw 0vw 0vw 0vw;
    text-align: left;
    align-items: flex-start;
    height: 100%;
  }

  .S_text {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  // ДОП.КЛАССЫ

  .vanga {
    background-image: url(images/A_img_vanga1.svg);
  }

  .tower {
    background-image: url(images/A_img_tower1.svg);
  }

  .burger {
    background-image: url(images/A_img_burger1.svg);
  }

  .number {
    background-image: url(images/A_img_number1.svg);
  }
  .cyber {
    background-image: url(images/A_img_cyber1.svg);
  }
  .carrot {
    background-image: url(images/A_img_carrot1.svg);
  }
  .gravity {
    background-image: url(images/A_img_gravity1.svg);
  }
  .travel {
    background-image: url(images/A_img_travel1.svg);
  }
  .bars {
    background-image: url(images/A_img_bars.svg);
  }
  .mike {
    background-image: url(images/A_img_mike.svg);
  }
  .mask {
    background-image: url(images/A_img_mask.svg);
  }
  .kadir {
    background-image: url(images/A_img_kadir.svg);
  }
  .martins {
    background-image: url(images/A_img_martins.svg);
  }
  .covid {
    background-image: url(images/A_img_covid.svg);
  }
  .newyear {
    background-image: url(images/A_img_newyear.svg);
  }
  .fish {
    background-image: url(images/A_img_fish.svg);
  }
  .panda {
    background-image: url(images/A_img_panda.svg);
  }
  .humster {
    background-image: url(images/A_img_humster.svg);
  }
  .school {
    background-image: url(images/A_img_school.svg);
  }
  .car {
    background-image: url(images/A_img_car.svg);
  }
  .huawei {
    background-image: url(images/A_img_huawei.svg);
  }
  .berry {
    background-image: url(images/A_img_berry.svg);
  }
  .money {
    background-image: url(images/A_img_money.svg);
  }
  .srach {
    background-image: url(images/A_img_srach.svg);
  }
  @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    // АТОМЫ
    .A_archivepage_img {
      border: 0.2vw solid black;
    }

    .A_statia_date {
      padding: 1vw 5vw 1vw 5vw;
      border: 0.2vw solid black;
    }
    .A_archivepage_img_hide {
      position: relative;
      height: 100%;
      width: 55vw;
      border: 0.2vw solid black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(images/vangaa.svg);

      display: flex;
      justify-content: space-between;
    }
    // МОЛЕКУЛЫ

    .M_commons_teg {
      display: none;
    }
    .M_commons_teg_hide {
      display: flex;
      width: 100%;
      justify-content: center;
      position: absolute;
      top: 1.5vw;
      z-index: 2;
      gap: 0.52vw;
    }
    .M_archive_page {
      width: 100%;
      height: auto;

      .A_archivepage_img {
        display: none;
      }
    }

    // ОРГАНИЗМЫ

    .O_text {
      padding: 0vw 5vw 5vw 5vw;
      gap: 4vw;
    }
    .O_archive_page {
      position: relative;
      height: auto;
    }
    // СУПЕР ОРГАНИЗМЫ

    .S_screen {
      flex-direction: column;
      gap: 0vw;
      padding: 5.8vw 0vw 0vw 0vw;
    }

    .S_text {
      display: flex;
      flex-direction: column;
      gap: 4vw;
    }
    .S_ipad_img_text {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
  @media all and (min-device-width: 428px) and (max-device-width: 1023px) {
    // АТОМЫ

    .A_archivepage_img {
      height: 108vw;
      width: 100%;
      border: 0.2vw solid black;
    }

    .A_statia_date {
      display: none;
    }
    .A_statia_date_hide {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #d4d3c0;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      padding: 2.5vw 4vw;
      border: 0.5vw solid black;
      gap: 3vw;
      h6 {
        background-color: none;
        padding: 0vw;
        border: 0vw solid black;
      }
    }
    // МОЛЕКУЛЫ

    .M_commons_teg {
      top: 98.5vw;
      gap: 2vw;
      padding: 0 2vw;
      flex-wrap: wrap;
    }

    .M_archive_page {
      width: 100%;
      height: 100%;
      justify-content: flex-start;
    }

    // ОРГАНИЗМЫ
    .O_archive_page {
      width: 100%;
    }
    .O_text {
      padding: 0vw 0vw 0vw 0vw;
      gap: 12vw;
    }

    // СУПЕР ОРГАНИЗМЫ

    .S_screen {
      padding: 14.6vw 0vw 0vw 0vw;
      flex-direction: column;
      height: auto;
    }

    .S_text {
      gap: 2vw;
      padding: 8vw 8vw 8vw 8vw;
    }
  }
}
